@media (min-width: 0px) and (max-width: 991px) {

    /* navbar section start */
    .navbar {
        height: 100px;
        position: relative;
        z-index: 1;
    }

    .navbar .nav-link {
        background: rgba(0, 0, 0, .6);
        margin-bottom: 2px;
        padding-right: 10px;
        /* display: inline-block; */
        width: 25%;
        margin-left: auto;
    }

    /* navbar section end */
}